
@model GetAllUsersViewModel

@{
    ViewData["Title"] = "All Users";
}

@foreach (var item in Model.Users)
{
    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-12 text-left">
                    <div class="section-title mb-5">
                        <h2>@Html.DisplayFor(model => item.Username)</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <p>

                    </p>
                </div>
                <div class="col-lg-6 pl-md-5">
                    <p>@Html.DisplayFor(model => item.Email)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <p>

                    </p>
                </div>
                <div class="col-lg-6 pl-md-5">
                    <p>@Html.DisplayFor(model => item.Member) is Member</p>
                </div>
            </div>
        </div>
    </div>
}

<div class="site-section bg-light">
    <div class="container">
        <div class="row">

            <div class="section-title">
                <h2 class="mb-5"><a href='@Url.Action("AddUser","Users")'>Add User</a></h2>
            </div>

        </div>


    </div>
</div>

