@model AddResourceViewModel

@{ 

    ViewData["Title"] = "AddResource";
}

<form  asp-controller="Resources" asp-action="AddResource" method="post">
    <div>
        <h2 >Add New Resource</h2>
    </div>

    <div>
        <label for="message">Resource Name</label>
        <input type="text" asp-for="ResourceName" />
    </div>
    <div>
        <label for="message">Resource Description</label>
        <input type="text" asp-for="ResDescription" />
    </div>
    <div>
        <label for="message">Resource Price</label>
        <input type="number" asp-for="ResPrice" />
    </div>
    <div>
        <a href="Resources.cshtml"><input type="submit" value="Add Resource"></a>
    </div>

</form>