@model DeleteResourceViewModel
@{
    ViewData["Title"] = "DeleteResource";
}

<h1>DeleteResource</h1>

<div>

    <form asp-controller="Resources" asp-action="DeleteResource">

        <input type="hidden" asp-for="ResourceID" />

        <input type="submit" value="Delete"  />

        <a asp-action="Resources">Back</a>

    </form>

</div>